<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Deletar Requisito</h3>
</div>
<div class="modal-body">
    <div class="panel panel-warning">
        <div class="panel-heading"><strong>Informa&ccedil;&otilde;es do Requisito</strong></div>
        <div class="panel-body">
            <p><strong>C&oacute;digo: </strong><span ng-bind="deletarRequisitoCtrl.requisito.codigo"></span></p>
            <p><strong>Tipo: </strong><span ng-bind="deletarRequisitoCtrl.getTipo()"></span></p>
            <p><strong>Nome: </strong><span ng-bind="deletarRequisitoCtrl.requisito.nome"></span></p>
            <p><strong>Categoria: </strong><span ng-bind="deletarRequisitoCtrl.requisito.categoria"></span></p>
            <p><strong>Estado: </strong><span ng-bind="deletarRequisitoCtrl.getEstado()"></span></p>
            <p><strong>Prioridade: </strong><span ng-bind="deletarRequisitoCtrl.getPrioridade()"></span></p>
        </div>
    </div>

    <hr>
    <p class="text-danger"><strong>Aten&ccedil;&atilde;o!</strong> A opera&ccedil;&atilde;o deletar requisito n&atilde;o pode ser desfeita. O requisito ser&aacute; completamente apagado do projeto.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="deletarRequisitoCtrl.deletarRequisito()">Deletar Requisito</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
