<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <h1>Req'n'Rule</h1>
                <p>Req'n'Rule &eacute; um simples sistema  para gerenciar os requisitos de seus projetos.</p>
                <p><a class="btn btn-primary btn-lg" href="#/signup" role="button">Criar Conta</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-4">
                <h2>Gerencie requisitos</h2>
                <p>Crie seu projeto e adicione seus requisitos. Gerencie o ciclo de vida de cada um deles.</p>
            </div>
            <div class="col-md-4">
                <h2>Gerencie sua equipe</h2>
                <p>Adicione as partes interessadas na equipe do projeto, escolhendo o n&iacute;vel de permiss&atilde;o adequado para cada membro.</p>
            </div>
            <div class="col-md-4">
                <h2>Solicita&ccedil;&atilde;o de altera&ccedil;&otilde;es</h2>
                <p>Os membros com permiss&atilde;o no projeto podem solicitar altera&ccedil;&otilde;es de um requisito do seu projeto. Os gerentes de requisito e gerentes do projeto atendem as solicita&ccedil;&otilde;es.</p>
            </div>
        </div>

    </div>


</div>

