<div class="container">
    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
        <h1>Sobre</h1><hr>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Autor</strong></div>
                <div class="panel-body">William Hitoshi Tsunoda Meira</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Projeto</strong></div>
                <div class="panel-body">O Req'n'Rule &eacute; resultado do projeto de conclus&atilde;o de curso da p&oacute;s-gradua&ccedil;&atilde;o em Engenharia de <i>Software</i>
                    da Universidade Federal do Paran&aacute;, turma de 2014-2015.</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Descri&ccedil;&atilde;o</strong></div>
                <div class="panel-body">
                    Req'n'rule &eacute; um simples sistema de gerenciamento de requisitos de projeto. Nele &eacute; poss&iacute;vel gerenciar os projetos, as partes interessadas e os requisitos do mesmo.
                    Dependendo do n&iacute;vel de permiss&atilde;o do membro pode-se atualizar os requisitos ou enviar solicita&ccedil;&otilde;es de mudan&ccedil;a aos gerentes.
                </div>
            </div>
        </div>
    </div>
</div>

